<%- include('../partials/header') %>

<form id="editForm" action="/movies/<%= idx %>?_method=PUT" method="POST" autocomplete="on">

  <input class="editClass" name="movie" type="text" value="<%= movie.movie %>">

  <input name="done" type="checkbox" <%= movie.done ? 'checked' : '' %> />

  <label>Now Showing:</label>
  <input type="checkbox" name="nowShowing" checked>

  <input type="submit" value="Edit Movie">
</form>

<%- include('../partials/footer') %>